@use 'src/styles/vars';
@use 'sass:math';

.peopleCard {
  border-radius:1rem;
  border: 1px solid vars.$darkColor;
  width: 17rem;
  height: 25rem;
  margin-top: vars.$gutter;
  box-shadow: 2px 2px 5px 2px black;
  background-color: vars.$lightColor;

  &-content {
    padding: math.div(vars.$gutter, 2);
    width: 100%;
    font-weight: bold;
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }

  &-title {
    font-size: 1.15em;
    text-align: center;
    border-radius: 5px;
    padding: vars.$gutter;
    margin: vars.$gutter 0;
    box-shadow: 2px 2px 5px 2px black;
    color: vars.$lightColor;
    background: linear-gradient(90deg, vars.$darkColor, vars.$primaryLightColor);
  }

  &-desc {
    color: vars.$lightColor;
    text-align: center;
    font-size: .8em;
    border-radius: 5px;
    box-sizing: content-box;
    margin: 0 math.div(vars.$gutter, 3) vars.$gutter math.div(vars.$gutter, 3);
    display: block;
    padding: math.div(vars.$gutter, 2);
    box-shadow: 2px 2px 5px 2px black;
    background: linear-gradient(90deg, vars.$darkColor, vars.$primaryLightColor);
  }
}
