@use 'sass:color';
@use 'src/styles/vars';
@use 'sass:math';

.content {
  padding: vars.$gutter;

  &-title {
    font-size: 2em;
    color: vars.$primaryColor;
    margin-bottom: vars.$gutter;
    padding-bottom: math.div(vars.$gutter, 4);
    border-bottom: 1px solid color.scale(vars.$primaryColor, $alpha: -80%);
    text-align: center;
    @media (max-width: vars.$small) {
      font-size: 1.3em;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
