@use 'src/styles/vars';
@use 'sass:math';

.card {
  border-radius:1rem;
  border: 1px solid vars.$darkColor;
  width: 25rem;
  height: 40rem;
  margin-top: vars.$gutter;
  // overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 5px 2px black;

  @media (max-width: vars.$small) {
    width: 17rem;
    height: 30rem;
  }

  &-img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    z-index: -1;
  }

  &-content {
    padding: math.div(vars.$gutter, 2);
    width: 100%;
  }

  &-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -30%);
  }

  &-title {
    font-size: 1.15em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 5px;
    padding: vars.$gutter;
    margin: vars.$gutter 0;
    box-shadow: 2px 2px 5px 2px black;
    color: black;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
  }

  &-desc {
    color: black;
    text-align: center;
    font-size: .8em;
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 5px;
    box-sizing: content-box;
    margin: 0 math.div(vars.$gutter, 3) vars.$gutter math.div(vars.$gutter, 3);
    display: block;
    padding: math.div(vars.$gutter, 2);
    box-shadow: 2px 2px 5px 2px black;
  }

  &-link {
    visibility: hidden;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    color:vars.$lightColor;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.card:hover .card-link {
  visibility: visible;
}
.card:hover .card-img{
  opacity: 0.5;
}
